@page "/todo"

<h3>To do (@toDos.Count(t => !t.IsDone))</h3>

<ul>
    @foreach (var toDo in toDos)
    {
        <input type="checkbox" @bind="toDo.IsDone"/>
        <input @bind="toDo.Title"/>
        <br>
    }
</ul>

<input placeholder="Something to do" @bind="newToDo"/>

<button @onclick="AddToDo">Add something to do</button>

@code
{
    private IList<ToDoItem> toDos = new List<ToDoItem>();
    private string newToDo;
    private void AddToDo()
    {
        if (!string.IsNullOrWhiteSpace(newToDo))
        {
            toDos.Add(new ToDoItem {Title = newToDo});
            newToDo = string.Empty;
        }
    }
}